<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs', {isLoggedIn: isLoggedIn}) %>

            <main>
                <% if(errorMessage) { %>
                    <h3 class="error__login--message">
                        <%= errorMessage %>
                    </h3>
                    <% } %>
                        <form class="login-form-login" action="/login" method="POST">
                            <div class="form-control-login">
                                <label for="email">E-Mail</label>
                                <input class="<%= error.find((e) => e.path === 'email') ? 'invalid' : ''  %>"
                                    type="email" name="email" id="email" value="<%= email ? email : '' %>">
                            </div>
                            <div class="form-control-login">
                                <label for="password">Password</label>
                                <input class="<%= error.find((e) => e.path === 'password') ? 'invalid' : ''  %>"
                                    type="password" name="password" id="password">
                            </div>
                            <button class="btn-login btn" type="submit">Login</button>
                            <a class="btn-forget btn-login btn" href="/forgot-password">Forgot
                                Password</a>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>