<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs', {isLoggedIn: isLoggedIn}) %>

            <main>
                <% if(errorMessage) { %>
                    <h3 class="error__login--message">
                        <%= errorMessage %>
                    </h3>
                    <% } %>
                        <form class="login-form-login" action="/login" method="POST">
                            <div class="form-control-login">
                                <label for="email">E-Mail</label>
                                <input type="email" name="email" id="email" value="<%= email ? email : '' %>"
                                    class="<%= errors.find(e => e.path === 'email') ? 'error' : '' %>">
                            </div>
                            <div class="form-control-login">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password"
                                    value="<%= password ? password : '' %>"
                                    class="<%= errors.find(e => e.path === 'password') ? 'error' : ''%>">
                            </div>
                            <button class=" btn-login btn" type="submit">Login</button>
                            <a class="btn-forget btn-login btn" href="/forgot-password">Forgot
                                Password</a>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>