<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <!-- home page navigation -->
            <li class="main-header__item">
                <a class="<%= path ==='/' ? 'active' : ''%>" href="/">Shop</a>
            </li>
            <!-- add product navigation -->
            <li class="main-header__item">
                <a class="<%= path ==='/products' ? 'active' : ''%>" href="/products">Products</a>
            </li>
            <!-- cart -->
            <li class="main-header__item">
                <a class="<%= path ==='/cart' ? 'active' : ''%>" href=" /cart">Cart</a>
            </li>
            <!-- checkout -->
            <li class="main-header__item">
                <a class="<%= path ==='/checkout' ? 'active' : ''%>" href=" /checkout">Checkout</a>
            </li>
            <!-- Order -->
            <li class="main-header__item">
                <a class="<%= path ==='/order' ? 'active' : ''%>" href=" /orders">Orders</a>
            </li>


            <!-- Product navigation -->
            <li class="main-header__item">
                <a class="<%= path ==='/admin/add-product' ? 'active' : ''%>" href=" /admin/add-product">Add Product</a>
            </li>

            <!-- products admin navigation-->
            <li class="main-header__item">
                <a class="<%= path ==='/admin/products' ? 'active' : ''%>" href=" /admin/products">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>