<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(prods.length> 0) {%>
                    <ul class="cart__item-list">
                        <% prods.forEach(product=> {%>
                            <li class="cart-item">
                                <h1>
                                    <%= product.title %>
                                </h1>
                                <h2>Quantity : <%= product.cartItems.quantity%>
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" value="<%= product.id%>" name="productId">
                                            <button class="btn danger" type="submit">Delete</button>
                                        </form>
                                </h2>
                            </li>

                            <%})%>
                    </ul>

                    <%} else {%>
                        <h1>My Products</h1>
                        <p>No Product Found</p>
                        <%}%>
            </main>
    </body>

    </html>