<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(prods.length> 0) {%>
                    <ul class="cart__item-list">
                        <% prods.forEach(product=> {%>
                            <li class="cart-item">
                                <h1>
                                    <%= product.title %>
                                </h1>
                                <h2>Quantity : <%= product.cartItems.quantity%>
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" value="<%= product.id%>" name="productId">
                                            <button class="btn danger" type="submit">Delete</button>
                                        </form>
                                </h2>
                            </li>

                            <%})%>
                    </ul>
                    <hr>
                    <div class="centered">
                        <form action="/create-order" method="POST">
                            <button type="submit" class="btn danger">Check Out</button>
                        </form>
                    </div>
                    <%} else {%>
                        <h1>My Products</h1>
                        <p>
                            <% if (path==='/cart' || path==='orders' ){ %>Nothing Here<% } else{ %>No Product Found<%}
                                        %>
                        </p>
                        <%}%>
            </main>
    </body>

    </html>