<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs', {isLoggedIn: isLoggedIn}) %>
            <% if (products.length> 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p=> { %>
                        <li class="cart__item">
                            <h1>
                                <%= p.productId.title %>
                            </h1>
                            <h2>Quantity: <%= p.quantity %>
                            </h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            </form>
                        </li>
                        <% }) %>
                </ul>
                <hr>
                <h3 class="centered" style="color: red; font-size: 24px;">Total Price : <%=totalPrice %>
                </h3>
                <div class="centered">
                    <form action="/checkout" method="POST">
                        <button type="submit" class="btn">Checkout !</button>
                    </form>
                </div>

                <% } else { %>
                    <h1>No Products in Cart!</h1>
                    <% } %>
                        </main>
                        <%- include('../includes/end.ejs') %>