<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.length <=0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul>
                            <% for(let i=0;i < orders.length;i++){ %>
                                <li>
                                    <h1># <%= orders[i].id %>
                                    </h1>
                                    <ul>
                                        <% for(let j=0; j < orders[i].products.length;j++){ %>
                                            <li>
                                                <%= orders[i].products[j].title %> (
                                                    <%=orders[i].products[j].orderItem.quantity %>
                                                        )
                                            </li>
                                            <% }; %>
                                    </ul>
                                </li>
                                <% }; %>
                        </ul>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>